* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    margin: auto;
}

.head-container {
    text-align: center;
}

h1 {
    color:  hsl(229, 6%, 66%);
    font-size: x-large;
    font-weight: 200;
}

p {
    color:  hsl(229, 6%, 66%);
}

.head__h1 {
    color:hsl(234, 12%, 34%);
    font-weight: 600;
}

.head__p {
    font-size: small;
    letter-spacing: .05em;
}

.role {
    border-radius: 10px;
    font-size: small;
    padding: 1.9em;
    margin: 1.5em 0;
    box-shadow: 1px 1px 10px hsl(229, 6%, 66%);
}

.role__1 {
    border-top: 4px solid hsl(180, 62%, 55%);
}

.role__2 {
    border-top: 4px solid hsl(0, 78%, 62%);
}

.role__3 {
    border-top: 4px solid hsl(34, 97%, 64%);
}

.role__4 {
    border-top: 4px solid hsl(212, 86%, 64%);
}

h2 {
    margin-bottom: .3em;
}

img {
    margin-left: 14em;
    padding-top: 2.5em;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (min-width: 600px) {

    .head__p {
        max-width: 500px;
        padding: 1em 0 2em 0;
        margin: auto;
    }

    .body_container {
        display: flex;
        height: inherit;
        width: fit-content;
        align-items: center;
        margin: auto;
    }

    .role {
        max-width: 250px;
        margin: 1.8em;
    }

    .role__1, .role__4 {
        max-height: 177px;
    }

    .role__2, .role__3 {
        margin: 1.5em 0;
    }

}

@media only screen and (max-width: 600px) {
    .container {
        max-width: 375px;
    }

    .site-content {
        margin: 2.5em;
    }

    .head__p {
        padding: 1em 0 2.5em 0;
    }
}